@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;1,300;1,400&display=swap');
@font-face {
  font-family: "snell";
  src: url(/flowers/SnellBTRegular.otf);
}
@font-face {
  font-family: "04b03";
  src: url(/altnouns/04B_03__.ttf);
}
@font-face {
  font-family: "Londrina Solid";
  src: url(/altnouns/LondrinaSolid-Black.ttf);
}

@layer components {
  .btn {
    @apply inline-flex items-center px-6 py-2 font-semibold rounded appearance-none focus:outline-none focus:ring;
  }

  .btn:hover {
    box-shadow: inset 0 0 0 30em var(--black-05, rgba(0, 0, 0, 0.05));
  }

  .btn:active {
    box-shadow: inset 0 0 0 30em var(--black-20, rgba(0, 0, 0, 0.2));
  }

  .input[disabled], .btn[disabled] {
    @apply cursor-not-allowed opacity-70;
  }

}

@layer utilities {
  .crimson-pro {
    font-family: "Crimson Pro";
  }
  .crimson {
    font-family: "Crimson Text";
  }
  .roboto {
    font-family: "Roboto";
  }
  .snell {
    font-family: "snell";
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
* {
  @apply crimson;
}

h1, h2, h3 {
  @apply crimson;
}

p {
  @apply crimson-pro;
  font-weight: 200;
}


/* Home page */
.home {
  background-color: #EFF0F2;
  color: #2F3D40;
}
.oc-color {
  color: #0C0C0C;
}
.occ-logo {
  letter-spacing: -4px;
  font-weight: 600;
  /* font-size: 64px; */
}
.button {
  transition: all 300ms ease-in-out;
}
.button:hover {
  background-color: #111111;
  color: #fff
}

/* Flowers page */
.flowers {
  background-color: #000000;
  color: #EEF5F2;
}
.font-snell {
  @apply snell;
}
.flower-tease svg{
  width: 100%;
}

.whitelist-logo {
  font-weight: 600;
  letter-spacing: -0.04em;
  @apply crimson;
}

.whitelist-input {
  border-radius: 200px;
  border: 2px solid #5E5E5E;
  background-color: transparent;
  padding: 16px;
  height: 54px;
  width: 320px;
  font-size: 20px;
  @apply crimson-pro;
}
.whitelist-input:focus-visible {
  border: 2px solid #5E5E5E;
  outline: none;
}
.flower-button {
  width: 320px;
  border-radius: 100px;
  transition: all 300ms ease-in-out;
}
.flower-button:hover {
  background-color: #e4e4e4;
}
.mint-button {
  border-radius: 100px;
  transition: all 200ms ease-in-out;
}
.mint-button:hover {
  background-color: #e4e4e4;
}
.mint-qty-input, .friend-input {
  border: 1px solid #FFFFFF;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  min-width: 300px;
  width: 100%;
  padding: 10px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 200px;
  padding: 0 20px;
  font-family: "crimson pro";
  font-weight: 300;
  transition: 200ms all ease-in-out;
  outline: none;
}
.mint-qty {
  background: #474747;
  border: 2px solid #474747;
  border-radius: 20px;
  width: 64px;
  padding: 8px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 200px;
  cursor: pointer;
  /* padding: 0 8px; */
  font-family: "crimson pro";
  font-style: italic;
  font-size: 18px;
  font-weight: 300;
  transition: 200ms all ease-in-out;
  opacity: 0.8;
}
.mint-options {
  margin-top: -53px;
  margin-right: 12px;
}
.active {
  border: 2px solid #EED189;
  opacity: 1;
}
input:focus {
  outline: none;
}

/* 
.quotes {
  width: 100%;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  a
  nimation-iteration-count: 1;
  animation-fill-mode: forwards;
}

li:nth-child(2) > .quotes {
  animation-delay: 3s;
}

li:nth-child(3) > .quotes {
  animation-delay: 6s;
}

li:nth-child(4) > .quotes {
  animation-delay: 9s;
}

@keyframes fadeIn {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
} */

.altnouns * {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}

.altnouns {
  background-color: #FFFFFF;
  color: #000000;
}

.bg-noun-gray {
  background-color: #1F1D29;
}
.tracking-wide-xl {
  letter-spacing: 0.25rem;
}

.noun-font {
  font-family: "Londrina Solid";
}

.pixel-font {
  font-family: "04b03";
}

.accordionItem {
  margin-bottom: 2.5rem;
  border: none;
}

.accordionItem,
.headerWrapper {
  font-size: 1.3rem;
}

.accordionHeader button:hover {
  color: #E8705B;
}

.accordionHeader button {
  border: none;
  background-color: transparent;
  font-family: 'Londrina Solid';
  font-size: 2.5rem !important;
  width: 100%;
  cursor: pointer;
  line-height: normal;
  padding-top: 0;
  padding-bottom: 0;
}
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color .15s ease-out,background-color .15s ease,border-color .15s ease,box-shadow .15s ease,border-radius .15s ease;
}
.accordionHeader button:not(.collapsed) {
  color: #E8705B;
  background-color: transparent;
  box-shadow: none !important;
}
/* override bootstrap color */
.accordionHeader-button {
  display: flex;
  width: 100%;
}
.accordion-button:after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
}
.accordion-button:not(.collapsed):after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z'/%3E%3C/svg%3E");
  transform: rotate(-180deg);
}
.accordionHeader button:focus {
  color: #E8705B !important;
  box-shadow: none !important;
}
.collapse {
  transition: height .35s ease;
}
.collapse:not(.show) {
  display: none;
}
.alt-noun-hero {
  width: 460px;
  height: 460px;
  border-radius: 3rem;
}

.altnouns .mint-button:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 480px) {
  .flower {
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 20px;
  }
  .alt-noun-hero {
    display: flex;
    width: auto;
    height: auto;
    border-radius: 3rem;
  }
}