@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;1,300;1,400&display=swap');
@font-face {
  font-family: "snell";
  src: url(/flowers/SnellBTRegular.otf);
}

@layer components {
  .btn {
    @apply inline-flex items-center px-6 py-2 font-semibold rounded appearance-none focus:outline-none focus:ring;
  }

  .btn:hover {
    box-shadow: inset 0 0 0 30em var(--black-05, rgba(0, 0, 0, 0.05));
  }

  .btn:active {
    box-shadow: inset 0 0 0 30em var(--black-20, rgba(0, 0, 0, 0.2));
  }

  .input[disabled], .btn[disabled] {
    @apply cursor-not-allowed opacity-70;
  }

}

@layer utilities {
  .crimson-pro {
    font-family: "Crimson Pro";
  }
  .crimson {
    font-family: "Crimson Text";
  }
  .roboto {
    font-family: "Roboto";
  }
  .snell {
    font-family: "snell";
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
* {
  @apply crimson;
}

h1, h2, h3 {
  @apply crimson;
}

p {
  @apply crimson-pro;
  font-weight: 200;
}


/* Home page */
.home {
  background-color: #EFF0F2;
  color: #2F3D40;
}
.oc-color {
  color: #0C0C0C;
}
.occ-logo {
  letter-spacing: -4px;
  font-weight: 600;
  /* font-size: 64px; */
}
.button {
  transition: all 300ms ease-in-out;
}
.button:hover {
  background-color: #111111;
  color: #fff
}

/* Flowers page */
.flowers {
  background-color: #000000;
  color: #EEF5F2;
}
.font-snell {
  @apply snell;
}
@media screen and (max-width: 480px) {
  .flower {
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 20px;
  }
}
.flower-tease svg{
  width: 100%;
}
.mint-button {
  border-radius: 100px;
  transition: all 200ms ease-in-out;
}
.mint-button:hover {
  background-color: #e4e4e4;
}
.mint-qty {
  border: 2px solid #5E5E5E;
  width: 200px;
  padding: 10px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 200px;
  cursor: pointer;
  padding: 0 20px;
  font-family: "crimson pro";
  font-size: 24px;
  font-style: italic;
  transition: 200ms all ease-in-out;
  opacity: 0.5;
}
.mint-qty:hover {
  /* border: 2px solid #fff; */
  opacity: 1;
}
.active {
  border: 2px solid #EED189;
  opacity: 1;
}

input {
  background-color: white;
  outline: none;
  color: #000000;
}
input:focus {
  outline: none;
}

/* 
.quotes {
  width: 100%;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

li:nth-child(2) > .quotes {
  animation-delay: 3s;
}

li:nth-child(3) > .quotes {
  animation-delay: 6s;
}

li:nth-child(4) > .quotes {
  animation-delay: 9s;
}

@keyframes fadeIn {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
} */